<div class="container mt-4">
  <h1 class='text-center'><%= @recipe.name %></h1>
  <div class='row justify-content-between'>
    <div class='col-md-4'>
        Preparation time: <%= @recipe.preparation_time %> hours
    </div>
    <div class='col-md-2'>
        <% if current_user == @recipe.user %>
            <%= form_with(model: @recipe, url: toggle_public_recipe_path(@recipe), method: :patch, class: "mb-3", id: "toggle-public-form") do |form| %>
                <div class="form-check">
                    <%= form.check_box :public, class: "form-check-input", id: "public-checkbox" %>
                    <%= form.label :public, class: "form-check-label" %>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class='col-md-12'>
        Cooking time: <%= @recipe.cooking_time %> hours
    </div>
  </div>
  <p><%= @recipe.description %></p>
  
  <hr />
  <% if @recipe_foods.any? %>
    <h2>Foods</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Food Name</th>
          <!-- Add other food attributes if needed -->
        </tr>
      </thead>
      <tbody>
        <% @recipe_foods.each do |recipe_food| %>
          <tr>
            <td><%= recipe_food.food.name %></td>
            <!-- Display other food attributes associated with the recipe -->
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No foods associated with this recipe.</p>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const publicCheckbox = document.getElementById('public-checkbox');
    const togglePublicForm = document.getElementById('toggle-public-form');

    publicCheckbox.addEventListener('change', function() {
      togglePublicForm.submit();
    });
  });
</script>