<h1><%= @recipe.name %></h1>
<p>Description: <%= @recipe.description %></p>

<% if current_user == @recipe.user %>
  <%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>
<% end %>

<%= form_with(model: @recipe, url: toggle_public_recipe_path(@recipe), method: :patch) do |form| %>
  <%= form.label :public %>
  <%= form.check_box :public %>
  <%= form.submit "Toggle Public/Private" %>
<% end %>

<% if current_user == @recipe.user %>
  <%= link_to "Add New Food", new_recipe_food_path(@recipe) %>
  <!-- Assuming 'new_recipe_food_path' leads to the form to add food for this recipe -->
<% end %>
